<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaBooks</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/comment.css">
</head>

<body>
    <nav class="light-blue darken-3">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo logo">
                <img class="logo__pic" alt="Awesome SuperLibrary logo" src="/images/logo.png">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                {{>header/menu_links}}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        {{>header/menu_links}}
    </ul>
<div class="container main-container">
