<div class="row">
    <div class="input-field col s5">
        <p>Image file:</p>
        <!-- <input type='file' name='image' /> -->
        <div class="file-field input-field">
            <div class="btn light-blue darken-3">
              <span>File</span>
              <input type="file" accept=".jpg, .jpeg" name="image">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload max. one jpg file">
            </div>
          </div>
    </div>
</div>
