body {
    display: flex;
    font-family: 'Roboto';
    min-height: 100vh;
    flex-direction: column;
}

footer {
    padding-bottom: 1rem;
}

.section:last-child {
    margin-bottom: 2rem;
}

.main-container {
    flex: 1 0 auto;
    padding-top: 1rem;
}

.nav-wrapper > .logo {
    display: flex;
}
.logo {
    align-items: center;
    height: 100%;
    justify-content: center;
}

.logo__pic {
    width: 75%;
}

.title {
    font-size: 2rem;
    margin: .5rem 0 .5rem 0;
}

.strong {
    font-weight: bold;
}

.back {
    margin-top: 150px;
}

.book__rating {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ffc767;
    border-radius: 50%;
    color: #ffc767;
    display: flex;
    font-size: 1.75rem;
    padding: .25rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
}

.book-item {
    max-width: 300px;
}

.book-details__image {
    max-width: 280px;
}

/* Override Materialize CSS default styles */
/* Normalize margins for paragraphs within form elements */
form p {
    margin: 0 0 .25rem 0;
}

.row {
    margin-bottom: 0;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

select {
    display: block;
}
