{{>header/base}}
<div class="row">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-image">
                <img src="images/profile.jpg">
                <span class="card-title">Javier García González</span>
            </div>
            <div class="card-content">
                <p>This is an about page!</p>
            </div>
            <div class="card-action">
                <a href="https://github.com/javiergarciagonzalez">Check out my github profile here!</a>
            </div>
        </div>
    </div>
</div>
{{>atoms/back_button}}
</div>
{{>footer}}
