<li>
    <div class="col s12 m4">
        <div class="card book-item">
            <div class="card-image waves-effect waves-block waves-light">
                {{#hasCustomImage}}
                    <img class="activator" src="/book/{{id}}/image">
                {{/hasCustomImage}}
                {{^hasCustomImage}}
                    <img class="activator" src="images/default_book.jpg">
                {{/hasCustomImage}}
                <div class="book__rating">
                    {{rating}}<i class="material-icons book__star">star</i>
                </div>
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{title}}</span>
                <a class="btn waves-effect waves-teal light-blue darken-3" href="/book/{{id}}">
                    Open book
                </a>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{title}}<i class="material-icons right">close</i></span>
              <p>{{summary}}</p>
            </div>
          </div>
    </div>
</li>
