    </div>
    <!--Close container div-->
    <footer class="page-footer light-blue darken-3">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Super Library online</h5>
                    <p class="grey-text text-lighten-4">Find all your super books!</p>
                </div>
            </div>
            <div class="footer">
                <span>Master Cloud Apps 2020/21</span>
                <a class="grey-text text-lighten-4 right"
                href="https://github.com/javiergarciagonzalez/mastercloudapps-spring-web-and-rest-api"
                target="_blank">
                    Check out in Github
                </a>
            </div>
        </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        // Small js chunk to add nav-bar funcionality on mobile viewports
        document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('.sidenav');
            const instances = M.Sidenav.init(elems);
        });
    </script>
</body>
</html>
