{{>header/base}}
    <h2>{{book.title}}</h2>
    {{#book.hasCustomImage}}
        <img class="book-details__image activator" src="/book/{{book.id}}/image">
    {{/book.hasCustomImage}}
    <div class="pic"></div>
    <div class="author">
        <p class="strong">Author: {{book.author}}</p>
    </div>
    <div class="divider"></div>
    <div class="summary">
        <p class="strong">Summary:</p>
        <p>{{book.summary}}</p>
    </div>
    <div class="divider"></div>
    <div class="publisher">
        <p class="strong">Publisher: {{book.publisher}}</p>
    </div>
    <div class="divider"></div>
    <div class="publication-date">
        <p class="strong">Publication date: {{book.publicationDate}}</p>
    </div>
    {{>book_details/rates}}
    {{>comment}}
    {{>atoms/back_button}}
{{>footer}}
